
            <div class="content p-1">
                <div class="list-group-item">
                    <div class="d-flex">
                        <div class="mr-auto p-2">
                            <h2 class="display-4 titulo">Listar Usuários</h2>
                        </div>
                        <a href="/cad-cat-pagamento">
                            <div class="p-2">
                                <button class="btn btn-outline-success btn-sm">
                                    Cadastrar
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            