<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Categoria de Pagamento</h2>
            </div>
            <div class="p-2">
                <a href="/cat-pagamento">
                    <button class="btn btn-outline-info btn-sm">
                        Listar
                    </button>
                </a>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form action="/update-cat-pagamento" method="POST">
            <input type="hidden" name="id" value="{{catpagamento._id}}">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Nome</label>
                    <input name="nome" type="text" class="form-control" id="nome"
                        placeholder="Nome da categoria de pagamento" value="{{catpagamento.nome}}">
                </div>
            </div>

            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-info">Salvar</button>
        </form>
    </div>
</div>