<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li>
            <a href="#submenu11" data-toggle="collapse">
                <i class="far fa-money-bill-alt"></i>Pagamento
            </a>
            <ul id="submenu11" class="list-unstyled collapse">
                <li><a href="/pagamentos"><i class="fas fa-money-check-alt"></i>Pagamentos</a></li>
                <li><a href="/cat-pagamento"><i class="fas fa-funnel-dollar"></i>Categorias</a></li>
            </ul>
        </li>
        <li>
            <a href="#submenu2" data-toggle="collapse"><i class="fas fa-list-ul"></i> Menu</a>
            <ul id="submenu2" class="list-unstyled collapse">
                <li><a href="#"><i class="fas fa-file-alt"></i> Páginas</a></li>
                <li><a href="#"><i class="fab fa-elementor"></i> Item de Menu</a></li>
            </ul>

        </li>
        <li><a href="#"> Item 1</a></li>
        <li><a href="#"> Item 2</a></li>
        <li><a href="#"> Item 3</a></li>
        <li><a href="#"> Item 4</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</nav>