<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li>
            <a href="#submenu11" data-toggle="collapse">
                <i class="far fa-money-bill-alt"></i>Pagamento
            </a>
            <ul id="submenu11" class="list-unstyled collapse">
                <li><a href="/pagamentos"><i class="fas fa-money-check-alt"></i>Pagamentos</a></li>
                <li><a href="/cat-pagamento"><i class="fas fa-funnel-dollar"></i>Categorias</a></li>
            </ul>
        </li>
        <li>
            <a href="#submenu21" data-toggle="collapse"><i class="fas fa-user-lock"></i>Usuário</a>
            <ul id="submenu21" class="list-unstyled collapse">
                <li><a href="/usuarios"><i class="fas fa-user-check"></i>Usuários</a></li>
               
            </ul>

        </li>
       
        <li><a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
    </ul>
</nav>